{% if object.comment_set.all %}
<div class="panel panel-white post panel-shadow">
    <div class="post-footer">
        <ul class="comments-list">
            {% for comment in object.comment_set.all %}
                <li class="comment">
                    <a class="pull-left" href="#">
                        <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                    </a>
                    <div class="comment-body">
                        <div class="comment-heading">
                            <h4 class="user">{{ comment.author }}</h4>
                            <h5 class="time">{{ comment.created_date }}</h5>
                        </div>
                        <p>{{ comment.comment_text }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
    {% else %}
    <p class="text-center">Никто не оставил комментариев. Будьте первыми!</p>
{% endif %}
