{% extends "base.html" %}
{% load static %}
{% block head_title %}Статьи пользователя{% endblock %}

{% block article %}
    {% if object.article_set.all %}
    {% for article in object.article_set.all %}
        <h2>
            <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
        </h2>
        <p class="lead">
            <a href="">{{ article.author }}</a>
        </p>
        <p><span class="glyphicon glyphicon-time"></span> {{ article.published }} {% if article.status == 0 %} -
            <span style="color: red">Не опубликован</span>{% endif %}</p>
        <hr>
        <img class="img-responsive" src="{% static 'images' %}/{{ article.image }}" alt="">
        <hr>
        <a class="btn btn-primary" href="{% url 'article_detail' article.id %}">Читать дальше <span
                class="glyphicon glyphicon-chevron-right"></span></a>

        <hr>
    {% endfor %}
    {% else %}
    <p class="text-center">Упс, тут пусто:( Хотите написать статью?</p>
    {% endif %}
    {% if is_paginated %}
        {% include "blog/pagination.html" %}
    {% endif %}
{% endblock %}